// colors
$red: #bb342d;
$lighter-red: #e13f36;
$black: #000000;
$white: #ffffff;
$gray: #ececec;
$border-gray: $gray;
$bg-alt-color: $gray;
$cancel-gray: #bbbbbb;
$dark-gray: #aaaaaa;


// font setup
@font-face {
  font-family: 'OxygenSansSansBold';
  src: url('../fonts/OxygenSansBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OxygenSansSansBoldOblique';
  src: url('../fonts/OxygenSansBoldOblique.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'OxygenSansSansBook';
  src: url('../fonts/OxygenSansBook.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OxygenSansSansBookOblique';
  src: url('../fonts/OxygenSansBookOblique.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

$default-fonts: OxygenSansSansBook, Verdana, Arial, Helvetica, sans-serif;

$default-text-transform: scale(1, 1.5);

// numeric values
$login-box-width: 400px;

$common-divider-height: 3px;

$admin-header-height: 70px;
$admin-header-left-padding: 30px;
$admin-header-right-padding: 30px;

$default-modal-width: 800px;
$common-modal-header-height: 60px;
$common-modal-close-option-dim: $common-modal-header-height;

$max-admin-page-content-width: 1024px;

$common-form-input-height: 50px;
$common-form-textarea-height: 200px;
$common-form-input-border-radius: 25px;

$pill-button-height: 50px;

$important-things-list-weight-column-width: 50px;

$pagination-option-dim: 28px;
$pagination-nav-option-padding: 5px;

$common-hover-opacity: 0.75;

// font weights
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;


body {
  overflow-x: hidden;
  font-family: $default-fonts !important;
  font-weight: $normal;
  color: $black;
  padding: 0;
  margin: 0;
}

.invisible {
  visibility: hidden;
}

.common-form-input {
  background-color: $white;
  height: $common-form-input-height;
  border-radius: $common-form-input-border-radius;
  border: 1px solid $black;
  padding: 0 12px;
  font-weight: $normal;
  color: $black;
  width: 100%;
  -webkit-appearance: none;
  box-sizing: border-box;
  font-family: $default-fonts;
  font-size: 14px;
}

.common-form-textarea {
  background-color: $white;
  height: $common-form-textarea-height;
  border-radius: $common-form-input-border-radius;
  border: 1px solid $black;
  padding: 12px;
  font-weight: $normal;
  color: $black;
  width: 100%;
  box-sizing: border-box;
  font-family: $default-fonts;
  font-size: 14px;
  resize: none;
}

.common-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  box-sizing: border-box;

  .common-form-header {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .common-form-body {
    display: flex;
    flex-direction: column;
    flex: 1;

    .common-form-body-row {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-bottom: 20px;

      &:last-child {
        padding-bottom: 0;
      }

      .common-form-field {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: first baseline;
        justify-content: flex-start;
        margin-top: 1px;
        margin-bottom: 1px;

        &.invalid {
          .common-form-field-label {
            color: $red;
          }

          .common-form-input {
            margin-top: 0;
            margin-bottom: 0;
            border: 2px solid $red;
          }

          .common-form-textarea {
            margin-top: 0;
            margin-bottom: 0;
            border: 2px solid $red;
          }
        }

        .common-form-field-label {
          display: flex;
          flex-direction: row;
          font-size: 16px;
          color: $black;
          font-weight: $bold;
          width: 100px;
          transform: $default-text-transform;
        }

        .common-form-field-input-container {
          display: flex;
          width: 100%;
          flex-direction: row;
          flex: 1;
        }
      }
    }
  }

  .common-form-options {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;

    .common-form-options-section {
      display: flex;
      flex-direction: row;
      flex: 1;
      align-items: center;

      &.common-form-options-left {
        justify-content: flex-start;

        .common-form-button-container {
          margin-left: 0;
          margin-right: 20px;
        }
      }

      &.common-form-options-right {
        justify-content: flex-end;

        .common-form-button-container {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    .common-form-button-container {
      margin-left: 10px;
      margin-right: 10px;

      .common-form-button {
        &.cancel-button {
          background-color: $cancel-gray;
        }

        &.delete-button {
          background-color: $white;
          color: $black;
          min-width: 0;
          padding-left: 10px;
          padding-right: 10px;
        }

        &.save-button {
          background-color: $black;
        }
      }
    }
  }
}

// toast overrides
#toast-container > .toast {
  background-image: none !important;
}

#toast-container > div {
  padding: 15px 15px 15px 15px;
  opacity: 1;
}

@import "admin-frame/admin-frame.scss";
@import "admin-frame/admin-header.scss";
@import "affirmations/affirmations-list.scss";
@import "affirmations/affirmation-form.scss";
@import "commitments/commitments-list.scss";
@import "commitments/commitment-form.scss";
@import "common/common-list.scss";
@import "common/confirm-delete-modal.scss";
@import "common/delayed-search-bar.scss";
@import "common/leave-without-saving-warning-modal.scss";
@import "common/list-pagination-options.scss";
@import "common/loading-indicator.scss";
@import "common/modal.scss";
@import "common/pill-button.scss";
@import "login/login.scss";
@import "important-things/important-things-list.scss";
@import "important-things/important-thing-form.scss";
