@font-face {
  font-family: "OxygenSansSansBold";
  src: url("../fonts/OxygenSansBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OxygenSansSansBoldOblique";
  src: url("../fonts/OxygenSansBoldOblique.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "OxygenSansSansBook";
  src: url("../fonts/OxygenSansBook.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OxygenSansSansBookOblique";
  src: url("../fonts/OxygenSansBookOblique.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
body {
  overflow-x: hidden;
  font-family: OxygenSansSansBook, Verdana, Arial, Helvetica, sans-serif !important;
  font-weight: 400;
  color: #000000;
  padding: 0;
  margin: 0;
}

.invisible {
  visibility: hidden;
}

.common-form-input {
  background-color: #ffffff;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #000000;
  padding: 0 12px;
  font-weight: 400;
  color: #000000;
  width: 100%;
  -webkit-appearance: none;
  box-sizing: border-box;
  font-family: OxygenSansSansBook, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.common-form-textarea {
  background-color: #ffffff;
  height: 200px;
  border-radius: 25px;
  border: 1px solid #000000;
  padding: 12px;
  font-weight: 400;
  color: #000000;
  width: 100%;
  box-sizing: border-box;
  font-family: OxygenSansSansBook, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  resize: none;
}

.common-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}
.common-form .common-form-header {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.common-form .common-form-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.common-form .common-form-body .common-form-body-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}
.common-form .common-form-body .common-form-body-row .common-form-field {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: first baseline;
  justify-content: flex-start;
  margin-top: 1px;
  margin-bottom: 1px;
}
.common-form .common-form-body .common-form-body-row .common-form-field.invalid .common-form-field-label {
  color: #bb342d;
}
.common-form .common-form-body .common-form-body-row .common-form-field.invalid .common-form-input {
  margin-top: 0;
  margin-bottom: 0;
  border: 2px solid #bb342d;
}
.common-form .common-form-body .common-form-body-row .common-form-field.invalid .common-form-textarea {
  margin-top: 0;
  margin-bottom: 0;
  border: 2px solid #bb342d;
}
.common-form .common-form-body .common-form-body-row .common-form-field .common-form-field-label {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  width: 100px;
  transform: scale(1, 1.5);
}
.common-form .common-form-body .common-form-body-row .common-form-field .common-form-field-input-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex: 1;
}
.common-form .common-form-options {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.common-form .common-form-options .common-form-options-section {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}
.common-form .common-form-options .common-form-options-section.common-form-options-left {
  justify-content: flex-start;
}
.common-form .common-form-options .common-form-options-section.common-form-options-left .common-form-button-container {
  margin-left: 0;
  margin-right: 20px;
}
.common-form .common-form-options .common-form-options-section.common-form-options-right {
  justify-content: flex-end;
}
.common-form .common-form-options .common-form-options-section.common-form-options-right .common-form-button-container {
  margin-left: 0;
  margin-right: 0;
}
.common-form .common-form-options .common-form-button-container {
  margin-left: 10px;
  margin-right: 10px;
}
.common-form .common-form-options .common-form-button-container .common-form-button.cancel-button {
  background-color: #bbbbbb;
}
.common-form .common-form-options .common-form-button-container .common-form-button.save-button {
  background-color: #000000;
}

#toast-container > .toast {
  background-image: none !important;
}

#toast-container > div {
  padding: 15px 15px 15px 15px;
  opacity: 1;
}

.admin-header {
  display: flex;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #000000;
}
.admin-header .admin-header-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.admin-header .admin-header-content .admin-header-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 25px;
}
.admin-header .admin-header-content .admin-header-logo-container .admin-header-logo {
  width: 40px;
  height: 40px;
}
.admin-header .admin-header-content .admin-header-title-container {
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}
.admin-header .admin-header-content .admin-header-title-container .admin-header-title {
  text-align: left;
  color: #ffffff;
  transform: scale(1, 1.5);
  font-size: 20px;
  font-weight: 700;
}
.admin-header .admin-header-content .admin-header-tabs-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.admin-header .admin-header-content .admin-header-tabs-container .admin-header-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  height: 70px;
}
.admin-header .admin-header-content .admin-header-tabs-container .admin-header-tab .admin-header-tab-text {
  color: #ffffff;
  transform: scale(1, 1.5);
}
.admin-header .admin-header-content .admin-header-tabs-container .admin-header-tab:hover {
  opacity: 0.75;
}
.admin-header .admin-header-content .admin-header-tabs-container .admin-header-tab.selected {
  background-color: #bb342d;
}
.admin-header .admin-header-content .admin-header-account-info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: 40px;
  text-align: left;
}
.admin-header .admin-header-content .admin-header-account-info-container .admin-header-account-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
}
.admin-header .admin-header-content .admin-header-account-info-container .admin-header-account-info .admin-header-username {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: scale(1, 1.5);
  color: #ffffff;
  font-size: 12px;
}
.admin-header .admin-header-content .admin-header-account-info-container .admin-header-account-info .logout-option-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.admin-header .admin-header-content .admin-header-account-info-container .admin-header-account-info .logout-option-container .logout-option {
  display: flex;
  flex: 0;
  font-size: 10px;
  font-weight: 700;
  transform: scale(1, 1.5);
  cursor: pointer;
  color: #ffffff;
}
.admin-header .admin-header-content .admin-header-account-info-container .admin-header-account-info .logout-option-container .logout-option:hover {
  opacity: 0.75;
}

.affirmations-list-page .affirmations-list-row-cell.message {
  width: 100%;
}

.commitments-list-page .commitments-list-row-cell.title {
  width: 100%;
}

.common-list-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.common-list-page .common-list-page-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  padding-top: 30px;
}
.common-list-page .common-list-page-header .common-list-page-header-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-bottom: 20px;
  border-bottom: 3px solid #ececec;
}
.common-list-page .common-list-page-header .common-list-page-header-content .common-list-page-header-content-left {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
}
.common-list-page .common-list-page-header .common-list-page-header-content .common-list-page-header-content-left .common-list-page-header-text {
  font-weight: 700;
  font-size: 26px;
}
.common-list-page .common-list-page-header .common-list-page-header-content .common-list-page-header-content-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 2;
}
.common-list-page .common-list-page-header .common-list-page-header-content .common-list-page-header-content-right .pill-button-container {
  margin: 0;
}
.common-list-page .common-list-page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  padding-top: 20px;
}
.common-list-page .common-list-page-content .common-list-header {
  margin-bottom: 10px;
}
.common-list-page .common-list-page-content .common-list-content {
  margin-bottom: 40px;
}
.common-list-page .common-list-page-content .common-empty-list-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.common-list-page .common-list-page-content .common-empty-list-message-container .common-empty-list-message {
  color: #aaaaaa;
  font-weight: 700;
  font-style: italic;
}
.common-list-page .common-list-page-content .common-list-content, .common-list-page .common-list-page-content .common-list-header {
  display: table;
  width: 100%;
}
.common-list-page .common-list-page-content .common-list-content .common-list-row, .common-list-page .common-list-page-content .common-list-header .common-list-row {
  display: table-row;
}
.common-list-page .common-list-page-content .common-list-content .common-list-row.common-list-values-row, .common-list-page .common-list-page-content .common-list-header .common-list-row.common-list-values-row {
  height: 40px;
  cursor: pointer;
}
.common-list-page .common-list-page-content .common-list-content .common-list-row.common-list-values-row:hover, .common-list-page .common-list-page-content .common-list-header .common-list-row.common-list-values-row:hover {
  opacity: 0.75;
}
.common-list-page .common-list-page-content .common-list-content .common-list-row.common-list-values-row:nth-child(odd), .common-list-page .common-list-page-content .common-list-header .common-list-row.common-list-values-row:nth-child(odd) {
  background-color: #ececec;
}
.common-list-page .common-list-page-content .common-list-content .common-list-row .common-list-row-cell, .common-list-page .common-list-page-content .common-list-header .common-list-row .common-list-row-cell {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
}
.common-list-page .common-list-page-content .common-list-content .common-list-row .common-list-row-cell.common-list-row-label-cell, .common-list-page .common-list-page-content .common-list-header .common-list-row .common-list-row-cell.common-list-row-label-cell {
  font-size: 14px;
  font-weight: 700;
}
.common-list-page .common-list-page-content .common-list-content .common-list-row .common-list-row-cell.common-list-row-value-cell, .common-list-page .common-list-page-content .common-list-header .common-list-row .common-list-row-cell.common-list-row-value-cell {
  font-size: 12px;
}

.search-bar-outer-container {
  display: flex;
  margin-right: 20px;
}
.search-bar-outer-container .search-bar-loading-indicator-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  text-align: center;
}
.search-bar-outer-container .search-bar-loading-indicator-container .search-bar-loading-indicator {
  width: 30px;
  height: 30px;
}
.search-bar-outer-container .search-bar-container {
  display: flex;
  border: 1px solid #ececec;
  height: 50px;
  border-radius: calc(50px / 2);
  padding-left: 10px;
  padding-right: 10px;
}
.search-bar-outer-container .search-bar-container .search-bar-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  text-align: center;
}
.search-bar-outer-container .search-bar-container .search-bar-icon-container .search-bar-icon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
.search-bar-outer-container .search-bar-container .search-bar-field-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding-right: 10px;
  padding-left: 10px;
}
.search-bar-outer-container .search-bar-container .search-bar-field-container .search-bar-field {
  border: 0;
  font-size: 17px;
  font-weight: 400;
  min-width: 200px;
  outline: none;
}

.leave-without-saving-warning-modal {
  width: 600px !important;
  text-align: left;
}
.leave-without-saving-warning-modal .leave-without-saving-warning-modal-header .leave-without-saving-warning-modal-header-text {
  font-size: 24px;
  font-weight: 700;
}
.leave-without-saving-warning-modal .leave-without-saving-warning-modal-body {
  font-size: 16px;
}
.leave-without-saving-warning-modal .leave-without-saving-warning-modal-options {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.leave-without-saving-warning-modal-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
}
.leave-without-saving-warning-modal-button.leave-without-saving-warning-modal-cancel-button {
  background-color: #bbbbbb !important;
}
.leave-without-saving-warning-modal-button.leave-without-saving-warning-modal-leave-button {
  background-color: #000000;
}

.common-list-pagination-options {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.common-list-pagination-options .pagination-arrow-container {
  font-size: 0;
}
.common-list-pagination-options .common-list-pagination-options-left {
  display: flex;
  flex-direction: row;
}
.common-list-pagination-options .common-list-pagination-options-right {
  display: flex;
  flex-direction: row;
}
.common-list-pagination-options .pagination-ellipsis {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}
.common-list-pagination-options .paging-nav-cell {
  display: flex;
}
.common-list-pagination-options .pagination-element {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  width: 28px;
  height: 28px;
  border-radius: calc(28px / 2);
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
.common-list-pagination-options .pagination-element.pagination-link {
  cursor: pointer;
}
.common-list-pagination-options .pagination-element.pagination-link.pagination-link-selected {
  background-color: #000000;
  color: #ffffff;
}
.common-list-pagination-options .pagination-element.pagination-link:hover {
  background-color: #cccccc !important;
}
.common-list-pagination-options .pagination-element.pagination-link:not(.pagination-link-selected):hover {
  background-color: #cccccc !important;
  color: #ffffff !important;
}
.common-list-pagination-options .pagination-element .pagination-nav-button-container {
  cursor: pointer;
  font-size: 0;
  width: 28px;
  height: 28px;
  border-radius: calc(28px / 2);
  background-color: transparent;
}
.common-list-pagination-options .pagination-element .pagination-nav-button-container:hover {
  opacity: 0.75;
  background-color: #cccccc;
}
.common-list-pagination-options .pagination-element .pagination-nav-button-container .pagination-nav-button-icon {
  padding: 5px;
  width: calc(28px - (5px * 2));
  height: calc(28px - (5px * 2));
}

.loading-indicator-overlay {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.loading-indicator-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 20px;
}

.common-modal {
  z-index: 800;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.common-modal .common-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  max-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.common-modal .common-modal-overlay .common-modal-box {
  margin: 0 auto;
  background-color: #ffffff;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  flex: 0;
}
.common-modal .common-modal-overlay .common-modal-box .common-modal-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  justify-content: center;
}
.common-modal .common-modal-overlay .common-modal-box .common-modal-header .common-modal-header-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  height: 60px;
}
.common-modal .common-modal-overlay .common-modal-box .common-modal-header .common-modal-header-content .common-modal-header-text-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}
.common-modal .common-modal-overlay .common-modal-box .common-modal-header .common-modal-header-content .common-modal-header-text-container .common-modal-header-text {
  font-size: 30px;
  font-weight: 700;
}
.common-modal .common-modal-overlay .common-modal-box .common-modal-header .common-modal-header-content .common-modal-close-option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.common-modal .common-modal-overlay .common-modal-box .common-modal-header .common-modal-header-content .common-modal-close-option-container .common-modal-close-option {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.common-modal .common-modal-overlay .common-modal-box .common-modal-header .common-modal-header-content .common-modal-close-option-container .common-modal-close-option:hover {
  opacity: 0.75;
}
.common-modal .common-modal-overlay .common-modal-box .common-modal-header .common-modal-header-content .common-modal-close-option-container .common-modal-close-option .common-modal-close-option-icon {
  width: 20px;
  height: 20px;
}
.common-modal .common-modal-overlay .common-modal-box .common-modal-divider-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 3px;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.common-modal .common-modal-overlay .common-modal-box .common-modal-divider-container .common-modal-divider {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 3px;
  background-color: #ececec;
}
.common-modal .common-modal-overlay .common-modal-box .common-modal-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.pill-button-container {
  height: 50px;
  margin: 0 auto;
  display: flex;
}
.pill-button-container .pill-button {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
  min-width: 150px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.pill-button-container .pill-button:hover {
  opacity: 0.75 !important;
}
.pill-button-container .pill-button .pill-button-text {
  font-family: OxygenSansSansBook, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  transform: scale(1, 1.5);
}
.pill-button-container .pill-button.red-button {
  background-color: #bb342d;
}

.login-page .login-page-content {
  display: flex;
  width: 100%;
  height: 100vh;
}
.login-page .login-page-content .login-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-page .login-page-content .login-form .login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 40px;
  margin: 0 auto;
}
.login-page .login-page-content .login-form .login-box .login-logo-container {
  margin-bottom: 20px;
}
.login-page .login-page-content .login-form .login-box .login-logo-container .login-logo {
  width: 200px;
  height: 200px;
}
.login-page .login-page-content .login-form .login-box .login-header {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 40px;
  transform: scale(1, 1.5);
}
.login-page .login-page-content .login-form .login-box .login-field {
  width: 100%;
}
.login-page .login-page-content .login-form .login-box .login-field input {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 10px;
  font-size: 14px;
}
.login-page .login-page-content .login-form .login-box .login-button {
  border: 0;
  background: 0;
  display: inline-block;
  padding: 0;
  outline: 0;
  margin-top: 10px;
  height: 60px;
}

.important-things-list-page .important-things-list-row-cell.message {
  width: calc(100% - 50px);
}
.important-things-list-page .important-things-list-row-cell.weight {
  width: 50px;
}

.important-thing-form .important-thing-weight-input {
  width: 100px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
