
.loading-indicator-overlay {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.loading-indicator-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: $white;
  border-radius: 20px;
}

.loading-indicator {
  &.tiny-loading-indicator {
    width: 20px;
    height: 20px;
  }
}

