.pill-button-container {
  height: $pill-button-height;
  margin: 0 auto;
  display: flex;

  .pill-button {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $pill-button-height;
    border-radius: $pill-button-height / 2;
    cursor: pointer;
    color: $white;
    background-color: $black;
    min-width: 150px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    &:hover {
      opacity: $common-hover-opacity !important;
    }

    .pill-button-text {
      font-family: $default-fonts;
      font-size: 14px;
      text-align: center;
      font-weight: $bold;
      transform: $default-text-transform;
    }

    &.red-button {
      background-color: $red;
    }
  }
}
