.insights-list-page {
  .insights-header-left {
    display: flex;
    flex-direction: column;

    .insights-notification-info {
      display: flex;
      flex-direction: column;
      font-family: $header-fonts;

      .notification-info-wrapper {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        .notification-info-details {
          font-size: 14px;
        }

        .notification-info-link {
          margin-left: 4px;
          color: $grass;
          font-size: 14px;
          height: 16px;
          font-weight: $bold;
          cursor: pointer;

          &:hover {
            opacity: $common-hover-opacity;
          }
        }
      }
    }
  }

  .insights-list-row-cell {
    &.message {
      width: calc(100% - #{$insights-list-weight-column-width});
    }

    &.weight {
      width: $insights-list-weight-column-width;
    }
  }
}
