<!DOCTYPE html>
<html>
  <head>
    <title>Important Things</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/static/css/style.css?v=<%= DateTime.now.strftime('%Q') %>">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
